.fonctionnement {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
  
  &__list{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

	&-btn{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 80px;
	width: 100%;
	border-radius: 20px;
	background-color: #f6f6f6;
	box-shadow: $shadow;
}
	.index {
	position: relative;
	right: 12px;
	height: 24px;
	width: 24px;
	border-radius: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	background-color: #9356DC;
	color: white;;
	}
	.icone-btn {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		height: 100%;
		width: 50px;
		font-size: 24px;
		color: #7e7e7e;
	}

	&-txt {
		font-weight: 500;
	}
}


@media (min-width: 950px) {
	
	.fonctionnement {
		margin: 0 10% 0 10%;
		padding: 0;

	&__list {
		flex-direction: row;
		-moz-column-gap: 25px;
		column-gap: 25px;
	}
}
}