@keyframes appear{
	0%{
		transform: scale(0);
		opacity: 0;
	}
	100%{
		transform: scale(1);

	}
}

@keyframes loader{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(0);
	}
  }

  @keyframes shrump {
	to{
		transform: rotate(360deg);
	}
	from{
		transform: rotate(0deg);
	}
  }